name: NPM_PUBLISH
permissions:
  id-token: write
  contents: write
on:
  release:
    types: [published]
defaults:
  run:
    shell: bash
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Build project
        run: bun build.ts
      - name: Update package.json
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add package.json
          git diff --cached --quiet || git commit -m "update version"
          git push origin main
      - name: Remove build tools
        run: bun remove bun-types bun-plugin-dts typescript @types/web
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: https://registry.npmjs.org/
      - name: Publish package
        run: npm publish --provenance --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
